.users-wrap {
  text-align: center;
}
.users {
  display: flex;
  flex-flow: wrap;
}

// @media (min-width: 768px) {
//   .container {
//     max-width: 768px;
//   }
// }
// @media (min-width: 600px) {
//   .container {
//     padding-left: 24px;
//     padding-right: 24px;
//   }
// }
